/UserSettings
/Library
/Logs
/Temp
/Unity.XR.PICO.Editor.csproj
/.vsconfig
/PICO.Platform.csproj
/PICO.Platform.Editor.csproj
/Pico.Spatializer.csproj
/Pico.Spatializer.Editor.csproj
/Pico.Spatializer.Example.csproj
/PicoTemplate.sln
/pxr_streamer_18824.log
/pxr_streamer_74664.log
/Unity.XR.Interaction.Toolkit.Samples.DeviceSimulator.csproj
/Unity.XR.Interaction.Toolkit.Samples.StarterAssets.csproj
/Unity.XR.PICO.csproj
